@media only screen and (max-width : 600px){
    @font-face {
        font-family: Trans-light;
        src: url(./fonts/Transcend\ Light.otf);
    }
    *{
        font-family: "Trans-light";
    }
    .home-container{
        width: 100%;
        height: 600px;
    }
    #logo{
        line-height: 60px;
        padding: 0px 20px;
        font-size: 1.3rem;
    }
    
    nav ul{
        position: fixed;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 430px;
        text-align: center;
        background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9),rgba(0,0,0,0.7));
        transition: all .5s;
        z-index: 999;
    }

    nav ul li {
        display: block;
    }

    nav ul li a{
        color: #fff;
        text-decoration: none;
        line-height: 60px;
    }

    #icon{
        display: block;
        color: #fff;
        font-size: 1.5rem;
    }
    #check:checked~ul{
        left: 0;
    }

    .home-section h1{
        font-size: 45px;
        letter-spacing: 8px;
    }
    
    .home-section h6{
        font-size: 1rem;
        letter-spacing: 3px;
        font-weight: 500;
    }
    .home-section button{
        width: 120px;
        height: 40px;
        margin: 10px 0px;
        font-size: 0.65rem;
        letter-spacing: 2px;
        padding: 0;
    }
    


    /* -------------portfolio--------- */
    .portfolio-box{
        display: grid;
        grid-template-columns: 1fr;
    }

    .portfolio-title{
        font-size: 2rem;
        line-height: 60px;
        margin-bottom: 0;
    }

    .portfolio-box .box{
        height: 300px;
    }

    .box .portfolio-inner-title span{
        font-size: 1.3rem;
        line-height: 40px;
    }
    
    

    /* ---------------about-container--------------------- */
    .about-conatiner{
        display: grid;
        grid-template-columns: 1fr;    
    }
    .about-box-1{
        padding: 10px 12px 15px 12px;
    }
    .about-box-1 p{
        text-align: justify;
    }

    .about-box img{
        height: 500px;
    }

    .about-box-1 h5{
        font-size: 1.7rem;
        line-height: 40px;
   }
   
   .about-box-1 h6{
       margin-top: 20px;
       line-height: 30px;
   }
   
   .about-box-1 p{
       font-size: 0.8rem;
   }
   
    
    /* --------book - container------ */
    .book-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .book-box-1{
        padding: 10px 10px 0 10px;
    }
    .book-container .book-box{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .book-container .book-box-1{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .book-box-1 h2{
        font-size: 2rem;
    }
    
    .book-box-1 p{
        font-size: 1rem;
        text-align: justify;
    }
    
    .book-box-1 span{
        font-size: 3rem;
        margin-top: 10px;
    }
    
    .book-box-1 button{
        width: 90px;
        height: 30px;
        font-size: 0.7rem;
    }

    /* ------------gallery------- */
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .gallery-box:nth-child(1){
         grid-column: 1 / span 4;
    }
    .gallery-box:nth-child(2){
        display: none;
        /* grid-row-start: 9;
        grid-column:  1/ span 4; */
   }
   .gallery-box:nth-child(3){
       grid-row-start: 2;
    grid-column: 1 / span 4;
    }
    .gallery-box:nth-child(4){
        display: none;
        /* grid-row-start: 7;
        grid-row-end: 8;
       grid-column: 1 / span 4; */
     }
    .gallery-box:nth-child(5){
        grid-row-start: 3;
       grid-column: 1/ span 4;
     }
     .gallery-box:nth-child(6){
        grid-row-start: 4;
       grid-column: 1 / span 4;
     }
     .gallery-box:nth-child(7){
        grid-row-start: 5;
        grid-row-end: 6;
       grid-column: 1 / span 4;
     }
     .gallery-box:nth-child(8){
        grid-row-start: 6;
        grid-row-end: 7;
       grid-column: 1 / span 4;
     }
     .gallery-box:nth-child(9){
        display: none;
        /* grid-row-start: 8;
        grid-row-end: 9;
       grid-column: 1 / span 4; */
     }
     .gallery-box{
        height: 350px;
    }

    /* -----Blog------ */
    .blog-container{
        padding: 0;
    }
    .blog-title{
        font-size: 2rem;
        line-height: 60px;
        margin-bottom: 0;
    }
    .blog-slider{
        margin: 0;
        padding: 0;
    }
    .blog-items-1{
        padding: 15px 10px;
    }
    
    .blog-items-2{
        padding: 10px;
    }
    .blog-box-items img{
       height: 300px;
       width: 100%;
    }

    .blog-user small{
        /* background-color: red; */
        font-size: .65rem;
    }

    .blog-details{
        margin-top: 40px;
    }
    
    .blog-details h2{
      font-size: 1.3rem;
      line-height: 40px;
    }
    
    .blog-details p{
        font-size: .7rem;
        line-height: 20px;
        text-align: justify;
    }
    
    .blog-details hr {
      margin-top:70px;
    }
        
    .views-show{
        font-size: .5rem;
    }

    .views-show small{
        font-size: .7rem;
    }
    .views{
        font-size: 1rem;
    }
    /* --------contact------------- */
    .contact-box{
        padding: 10px;
        height: 400px;
    }
    .contact-box-2{
        padding: 10px;
        height: 530px;
    }

    .contact-box h2{
        font-size: 1.6rem;
    }
    
    .contact-box h6{
        font-size: .7rem;
    }

    form label{
        font-size: .9rem;
    }

    form input{
        height: 35px;
    }
    form textarea{
        height: 90px;
    }
    form button{
        width: 110px;
        padding: 0;
        margin-top: 8px;
        border-radius: 5px;
        font-size: 1rem;
    }

    .contact-icons i{
        font-size: 1.8rem;
    }
    .footer{
        width: 100%;
        margin-top:10px;
    }
    .footer p{
        font-size: .7rem;
    }
    
    

}