@font-face{
    font-family: "Trans-light";
    src: url(./fonts/Transcend\ Light.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    background: #FFFDEC;
}

.home-container{
    /* background:linear-gradient(rgba(39, 58, 78,0.3),rgba(39, 58, 78,0.4),black),url("./Images/Home-Container.jpeg"); */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),black),url(./Images/Home-Container.jpeg);
    width: 100%; 
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(39,58,78,0.7));
    width: 100%;
    height: 60px;
    position: relative;
    display: grid;
    grid-template-areas: "logos auto auto auto auto auto auto auto auto auto auto auto auto options icons";
}

#check{
    display: none;
}

.active{
    color: #ffda43;
}

#logo{
    line-height: 60px;
    padding: 0px 60px;
    grid-area: logos;
    color: #ffda43;
    user-select: none;
}

nav h2{
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 5px;
}

#icon{
    display: none;
    font-size: 30px;
    line-height: 60px;
    grid-area: icons;
}

#option{
    grid-area: options;
}

nav ul{
    text-align: end;
    line-height: 60px;
}

nav ul li{
    display: inline-block;
}
nav ul li a{
    margin-right: 30px;
    color: #fff;
    font-size: 1rem;
    font-family: "Trans-light";
    text-decoration:none ;
}

nav ul li a:hover{
    color: #ffda43;
    transition: all .5s;
}


.home-section{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 30%;
}

.home-section h1{
    font-weight: 500;
    font-size: 60px;
    letter-spacing: 5px;
    color: #fff;
}

.home-section h1 span{
    color: #ffda43;
}

.home-section h6{
    color: #fff;
    font-size: 1.5rem;
    line-height: 40px;
    letter-spacing: 5px;
    font-weight: 400;
}
.btn{
    display:grid;
    justify-content: center;
    align-items: center;
}
.home-section button{
    width: 150px;
    height: 40px;
    border: 2px solid #555;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    align-content: center;
    margin: 20px 0px;
    font-size: 0.7rem;
    letter-spacing: 3px;
    padding: 0px 10px;
}

.home-section button:hover{
    color: #ffda43;
    border: 1px solid #ffda43;
    transition: all .5s;
}

/* ---------portfolio container----------- */
.portfolio{
    width: 100%;
}

.portfolio-container{
    width: 95%;
    margin: 20px auto;
    border-radius: 10px;
    background:linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    /* box-shadow: 5px 5px 10px #555,5px 5px 10px #555; */
    padding: 10px;
}

.portfolio-title{
    color: #fff;
    font-size: 2.5rem;
    line-height: 50px;
    text-align: center;
    margin-bottom: 2vh;
}

.portfolio-box{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3 , 1fr);
}

.portfolio-box .box{
    position: relative;
    border-radius: 5px;
    color: #fff;
    height: 472px;
    overflow: hidden;
    /* border: 1px solid #555; */
}

.portfolio-box .box:hover .intro{
    transition: all 1s;
    bottom: 0;
}

.img1{
    background:linear-gradient(rgba(39, 58, 78,0.3),rgba(39, 58, 78,0.4),black),url("./Images/1.jpg");
    width: 100%;
    height: 470px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.img2{
    background:linear-gradient(rgba(39, 58, 78,0.3),rgba(39, 58, 78,0.4),black),url("./Images/2.jpg");
    width: 100%;
    height: 470px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.img3{
    background:linear-gradient(rgba(39, 58, 78,0.3),rgba(39, 58, 78,0.4),black),url("./Images/3.jpg");
    width: 100%;
    height: 470px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     object-fit: cover;
}

.box .portfolio-inner-title span{
    /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(39,58,78,0.7)); */
    backdrop-filter:blur(40px);
    position: absolute;
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    line-height: 60px;
    top: 0;
    text-align: center;
    align-content: center;
    font-family: "Trans-light";
}

.intro{
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),black);
    text-align: justify;
    align-content: center;
    bottom: -500px;
    font-family: 'Times New Roman', Times, serif;
    height: 410px;
    font-size: 1.1rem;
    color: #fff;
    padding: 20px;
}

/* -----about-container---- */

.about{
    width: 100%;
}

.about-conatiner{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    width: 95%;
    border-radius: 10px;
    background:linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    /* box-shadow: 5px 5px 10px #555,5px 5px 10px #555; */
    margin: 20px auto;
    padding: 10px;

}

.about-box{
    /* padding: 10px; */
    width: 100%;
    height: 100%;
}

.about-box img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.about-box-1{
    padding: 0px 20px;
    height: 100%;
}

.about-box-1 h5{
     font-weight: 500;
     font-size: 2rem;
     /* line-height: 60px; */
     color: #fff;
     font-family: "Trans-light";
}

.first{
    margin-top: 10px;
}

.about-box-1 h6{
    margin-top: 90px;
    font-size: 1.2rem;
    font-family:"Trans-light";
    color: #fff;
    font-weight: 500;
    line-height: 40px;
}

.about-box-1 p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
}

/* -----book container--- */

.book{
    width: 100%;
}

.book-container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin: 20px auto;
    background:linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px #555,5px 5px 10px #555; */
    padding: 15px;
}

.book-box img{
    width: 100%;
    height:100%;
    object-fit: cover;
    /* mix-blend-mode: color-burn; */
    background: #fff;
}

.book-box-1{
    /* padding: 100px 20px; */
}

.book-box-1 h2{
    font-size: 2.5rem;
    /* line-height: 60px; */
    font-weight: 500;
    color: #fff;
}

.book-box-1 p{
    font-size: 1.2rem;
    color: #fff;
    font-family: serif;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.book-box-1 span{
    display: block;
    font-size: 4rem;
    color: #fff;
    margin-top: 30px;
    font-weight: 500;
}

.book-box-1 button{
    width: 120px;
    height: 40px;
    align-content: center;
    border-radius: 5px;
    /* border: 1px solid #555; */
    border: none;
    font-family: "Trans-light";
    font-size:1rem;
    background: #fff;
    outline: none;
    color: #000;
}

.book-box-1 button:hover{
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    transition: all .5s;
}
.book-box-2{
    width: 100%;
    height: 100%;
}
.book-box-2 img{
    min-height: 100%;
    height:300px;
    width: 100%;
    padding: 0;
    object-fit: cover;
}
/* ----Gallery container-- */
.gallery{
    width: 100%;
}
.gallery-container{
    width: 95%;
    margin: 20px auto;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px #555,5px 5px 10px #555; */
    display: grid;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);;
    grid-gap: .1rem;
    padding: 10px;
    grid-template-columns: repeat(4,1fr);
}
.gallery-box{
    min-height: 200px;
    height: 200px;
    /* background:#F8ED8C; */
    background: #BE3144;
    /* border: 1px solid #555; */
}
.gallery-box:nth-child(2){
     grid-column: 2 / span 2 ;
}

.gallery-box:nth-child(4){
    grid-row: 2 / span 4;
    height: 401px;
}
.gallery-box:nth-child(9){
    grid-column-start: 4;
    grid-row: 2 / span 4;
    height: 401px;
}
.gallery-box:nth-child(5){
    grid-column-start: 2;
    grid-row: 2;
}
.gallery-box:nth-child(6){
    grid-column-start: 3;
    grid-row: 2;
}
.gallery-box:nth-child(7){
    grid-column-start: 2;
    grid-row: 3/span 3;
}
.gallery-box:nth-child(8){
    grid-column-start: 3;
    grid-row: 3/span 3;
}

.gallery-box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* -----------blog container------------- */

.blog{
    width: 100%;
}
.blog-container{
    display: grid;
    grid-template-columns: 1fr;
    /* box-shadow: 5px 5px 10px #555,5px 5px 10px #555; */
    padding: 10px;
    background:linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 10px;
    width: 95%;
    margin: 20px auto;   
}

.blog-slider{
    height: 80vh;
    overflow: auto;
}
::-webkit-scrollbar{
    width: 0;
}

.blog-title{
     color: #fff;
    font-size: 2.5rem;
    line-height: 50px;
    text-align: center;
    margin-bottom: 2vh;
}

.blog-box{
   display: grid;
   grid-template-columns: repeat(auto-fit , minmax(300px,1fr));
   padding: 5px 0px;
}

.blog-box-items{
    min-height: 300px;
    /* background-color: lightgrey; */
    background: #fff;

}
.blog-items-1{
    padding: 10px;
    height: 320px;
}

.blog-items-2{
    padding: 10px;
    height: 100%;
}
.blog-box-items img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.blog-user{
    position: relative;
}
.blog-user i{
    font-size: 2rem;
    display: inline-block;
}
.blog-user span{
    position: absolute;
    display: inline-block;
}

.blog-details{
    margin-top: 40px;
}

.blog-details h2{
  font-family: "Trans-light";
  font-size: 1.5rem;
  line-height: 60px;
  font-weight: 500;
}

.blog-details p{
    font-family: "Trans-light";
    font-size: .8rem;
    color: #555;
    line-height: 20px;
}

.blog-details hr {
  width: 100%;
  margin-top: 90px;
}

.blog-views{
    display: grid;
    position: relative;
}

.views-show{
    font-family: "trans-light";
    font-size: .8rem;
}
#cmd{
    margin-left: 5px;
}
.views-show small{
    font-size: .9rem;
}
.views{
    position: absolute;
    right: 0;
    font-size: 1.3rem;
    color: #000;
}
.views:hover{
    color: red;
}

/* ----------contact container---------- */

.contact{
    width: 100%;
}
.contact-container{
    width: 95%;
    margin: 20px 0 3px 0 ;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    /* box-shadow: 5px 5px 10px #555,5px 5px 10px #555; */
    padding: 10px;
    /* border-radius: 10px;  */
}
.contact-box{
    height: 580px;
    padding: 10px;
}
.contact-box-2{
    padding: 10px 20px;
}
.contact-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact-box h2{
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    font-family: "Trans-light";
}

.contact-box h6{
    color: #fff;
    font-weight: 500;
    font-size: .8rem;
    font-family: "Trans-light";
}

.input-container{
    margin: 20px auto;
     /* background: red; */
}
form label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #fff;
    font-family: "Trans-light";
}
form input{
    width: 100%;
    height: 40px;
    border: 1px solid #555;
    background: #000;
    padding: 0px 10px;
    color: #fff;
}

form textarea{
    width: 100%;
    height: 100px;
    background: #000;
    padding: 10px;
    color: #fff;
}
form button{
    background: #fff;
    color: #000;
    font-family: "Trans-light";
    font-size: 1.1rem;
    padding: 0px 20px;
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
}
form button:hover{
    background: #000;
    color: #fff;
    transition: all .5s;
}

/* ---------contact-details------------- */
.contact{
    width: 100%;
    background: #303841;
}
.contact-details{
    background: #303841;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* box-shadow: 5px 5px 10px #555,5px 5px 10px #555; */
    /* border-radius: 10px; */
    padding: 20px 0;
}

.contact-icons{
    color: #fff;
    width: 100%;
    text-align: center;
}

.contact-icons i{
    font-size: 2rem;
    cursor: pointer;
}
.footer{
    width: 100%;
    margin-top:20px;
    text-align: center;
}
.footer p{
    color: #fff;;
    font-size: .9rem;
    font-family: "Trans-light";
}

.bxl-pinterest-alt:hover{
    color: red;
    transition: all .5s;
}

.bxl-twitter:hover{
    color: rgb(109, 169, 192);
    transition: all .5s;
}
.bxl-facebook-circle:hover{
    color: navy;
    transition: all .5s;
}
.bxl-instagram-alt:hover{
    background: -webkit-linear-gradient(#515bda,#8134af,#dd2a7b,#feda77,#f58529);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s;
}